# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
.terraform.tfstate.lock.info

# AWS
.aws/
credentials

# Python
__pycache__/
*.pyc
*.pyo
venv/
.env

# Lambda packages
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
